# Credentials
credentials.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtuální prostředí
venv/
ENV/
.env

# IDE soubory
.idea/
.vscode/
*.swp
*.swo

# Word temporary
~$*.docx
~$*.doc

# Výstupní soubory
nabidky.docx